 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1500px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 0 auto 0 -124px;
}

.u-section-1 .u-text-1 {
  font-weight: normal;
  width: 434px;
  text-decoration: none solid rgb(255, 255, 255);
  margin: 14px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: normal;
  font-size: 3.75rem;
  text-shadow: -15px 0px 40px rgba(0,255,86,1);
  text-decoration: none solid rgb(0, 255, 86);
  margin: -9px 342px 0 364px;
}

.u-section-1 .u-shape-1 {
  width: 482px;
  height: 374px;
  margin: 67px auto 0;
}

.u-section-1 .u-image-1 {
  width: 161px;
  height: 161px;
  margin: -293px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.5625rem;
  margin: -202px auto 0;
}

.u-section-1 .u-text-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 190px 501px 0 426px;
}

.u-section-1 .u-text-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -43px 357px 0 570px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-size: 2.25rem;
  padding: 0;
}

.u-section-1 .u-shape-2 {
  width: 482px;
  height: 374px;
  margin: -303px auto 0 -192px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.5625rem;
  margin: -336px auto 0 -61px;
}

.u-section-1 .u-image-2 {
  width: 161px;
  height: 161px;
  margin: 11px auto 0 -58px;
}

.u-section-1 .u-text-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 18px 939px 0 -155px;
}

.u-section-1 .u-text-8 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -43px 885px 0 -101px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-size: 2.25rem;
  text-decoration: none solid rgb(71, 138, 201);
  padding: 0;
}

.u-section-1 .u-shape-3 {
  width: 482px;
  height: 374px;
  margin: -301px -192px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 167px;
  height: 161px;
  margin: -295px -63px 0 auto;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 1.5625rem;
  margin: -202px 0 0 auto;
}

.u-section-1 .u-text-10 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 190px -157px 0 925px;
}

.u-section-1 .u-text-11 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -43px -214px 0 982px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  font-size: 2.25rem;
  text-decoration: none solid rgb(71, 138, 201);
  padding: 0;
}

.u-section-1 .u-shape-4 {
  width: 482px;
  height: 374px;
  margin: 150px 106px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 161px;
  height: 161px;
  margin: -293px 267px 0 auto;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  font-size: 1.5625rem;
  margin: -201px 316px 0 auto;
}

.u-section-1 .u-text-13 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 189px 119px 0 576px;
}

.u-section-1 .u-shape-5 {
  width: 482px;
  height: 374px;
  margin: -346px auto 0 31px;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  font-size: 1.5625rem;
  margin: -333px auto 0 223px;
}

.u-section-1 .u-image-5 {
  width: 161px;
  height: 161px;
  margin: 10px auto 0 168px;
}

.u-section-1 .u-text-15 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 18px 645px 0 49px;
}

.u-section-1 .u-text-16 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 4.5rem;
  width: 439px;
  margin: 275px auto 18px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: 434px;
    margin-right: 242px;
    margin-left: 264px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 401px;
    margin-left: 326px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 257px;
    margin-left: 470px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 839px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 785px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 825px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 882px;
  }

  .u-section-1 .u-shape-4 {
    margin-left: 247px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 407px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 260px;
    margin-left: 462px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 384px;
    margin-left: 344px;
  }

  .u-section-1 .u-shape-5 {
    margin-left: -174px;
  }

  .u-section-1 .u-text-14 {
    margin-left: -43px;
  }

  .u-section-1 .u-image-5 {
    margin-left: -40px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 822px;
    margin-left: -137px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 415px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 132px;
    margin-left: 154px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 291px;
    margin-left: 216px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 147px;
    margin-left: 360px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 729px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 675px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 715px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 772px;
  }

  .u-section-1 .u-shape-4 {
    margin-left: 137px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 297px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 199px;
    margin-left: 352px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 274px;
    margin-left: 234px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 712px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 275px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-right: 42px;
    margin-left: 64px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 201px;
    margin-left: 126px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 57px;
    margin-left: 270px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 639px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 585px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 625px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 682px;
  }

  .u-section-1 .u-shape-4 {
    margin-right: 58px;
    margin-left: 47px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 207px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 149px;
    margin-left: 262px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 184px;
    margin-left: 144px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 622px;
  }

  .u-section-1 .u-text-16 {
    font-size: 1.875rem;
    margin-top: 545px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 101px;
    margin-left: 26px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 127px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 539px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 485px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 525px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 582px;
  }

  .u-section-1 .u-shape-4 {
    width: 340px;
    margin-right: 0;
    margin-left: 4px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 179px;
    margin-left: 93px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 94px;
    margin-left: 148px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 98px;
    margin-left: 30px;
  }

  .u-section-1 .u-shape-5 {
    width: 340px;
    margin-left: -188px;
  }

  .u-section-1 .u-text-14 {
    margin-left: -57px;
  }

  .u-section-1 .u-image-5 {
    margin-left: -54px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 492px;
    margin-left: -151px;
  }

  .u-section-1 .u-text-16 {
    font-size: 1.5rem;
    width: 340px;
    margin-top: 1057px;
  }
}
