 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1155px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 4.5rem;
  margin: 74px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 6rem;
  text-shadow: -15px 0px 40px rgba(128,128,128,1);
  margin: 0 auto;
}

.u-section-1 .u-image-1 {
  width: 231px;
  height: 231px;
  margin: 176px auto 0 -115px;
}

.u-section-1 .u-image-2 {
  width: 231px;
  height: 231px;
  margin: -10px auto 0 105px;
}

.u-section-1 .u-image-3 {
  width: 231px;
  height: 231px;
  margin: -451px -115px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 231px;
  height: 231px;
  margin: -10px 105px 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: -337px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 452px auto 41px -105px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }
}
