 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1500px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  margin: 107px 10px 0;
}

.u-section-1 .u-video-1 {
  width: 383px;
  height: 250px;
  margin: 66px -39px 0 auto;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-1 .u-video-2 {
  width: 383px;
  height: 250px;
  margin: -250px auto 0 -31px;
}

.u-section-1 .embed-responsive-2 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-1 .u-video-3 {
  width: 383px;
  height: 250px;
  margin: -250px auto 0;
}

.u-section-1 .embed-responsive-3 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-1 .u-video-4 {
  width: 383px;
  height: 250px;
  margin: 35px -39px 0 auto;
}

.u-section-1 .embed-responsive-4 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-1 .u-video-5 {
  width: 383px;
  height: 250px;
  margin: -250px auto 0 -32px;
}

.u-section-1 .embed-responsive-5 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-1 .u-video-6 {
  width: 383px;
  height: 250px;
  margin: -250px auto 0 376px;
}

.u-section-1 .embed-responsive-6 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  margin: 107px 10px 50px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-video-4 {
    margin-left: 573px;
  }

  .u-section-1 .u-video-5 {
    margin-left: -16px;
  }

  .u-section-1 .u-video-6 {
    margin-left: 392px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-video-4 {
    margin-left: 353px;
  }

  .u-section-1 .u-video-6 {
    margin-left: 353px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-video-4 {
    margin-left: 173px;
  }

  .u-section-1 .u-video-6 {
    margin-left: 173px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 912px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    height: 222px;
    margin-right: 0;
  }

  .u-section-1 .u-video-2 {
    width: 340px;
    height: 222px;
    margin-top: -222px;
    margin-left: 0;
  }

  .u-section-1 .u-video-3 {
    width: 340px;
    height: 222px;
    margin-top: -222px;
  }

  .u-section-1 .u-video-4 {
    width: 340px;
    height: 222px;
    margin-left: auto;
    margin-right: 0;
  }

  .u-section-1 .u-video-5 {
    width: 340px;
    height: 222px;
    margin-top: -222px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-video-6 {
    width: 340px;
    height: 222px;
    margin-top: -222px;
    margin-left: 0;
    margin-right: 0;
  }
}
